In [1]:
import pyreadr
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
path = './data/'

train_normal_path = 'TEP_FaultFree_Training.RData'
train_faulty_path = 'TEP_Faulty_Training.RData'

test_normal_path = 'TEP_FaultFree_Testing.RData'
test_faulty_path = 'TEP_Faulty_Testing.RData'

train_normal_complete = pyreadr.read_r(path + train_normal_path)['fault_free_training']
train_faulty_complete = pyreadr.read_r(path + train_faulty_path)['faulty_training']

test_normal_complete = pyreadr.read_r(path + test_normal_path)['fault_free_testing']
test_faulty_complete = pyreadr.read_r(path + test_faulty_path)['faulty_testing']

In [3]:
data_normal = train_normal_complete[train_normal_complete.simulationRun==1].iloc[:,3:]

In [4]:
data_normal.shape

(500, 52)

In [8]:
# data_normal.info()

In [11]:
data_normal.head()

,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,xmeas_8,xmeas_9,xmeas_10,...,xmv_2,xmv_3,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11
0,0.25038,3674.0,4529.0,9.2320,26.889,42.402,2704.3,74.863,120.41,0.33818,...,53.744,24.657,62.544,22.137,39.935,42.323,47.757,47.510,41.258,18.447
1,0.25109,3659.4,4556.6,9.4264,26.721,42.576,2705.0,75.000,120.41,0.33620,...,53.414,24.588,59.259,22.084,40.176,38.554,43.692,47.427,41.359,17.194
2,0.25038,3660.3,4477.8,9.4426,26.875,42.070,2706.2,74.771,120.42,0.33563,...,54.357,24.666,61.275,22.380,40.244,38.990,46.699,47.468,41.199,20.530
3,0.24977,3661.3,4512.1,9.4776,26.758,42.063,2707.2,75.224,120.39,0.33553,...,53.946,24.725,59.856,22.277,40.257,38.072,47.541,47.658,41.643,18.089
4,0.29405,3679.0,4497.0,9.3381,26.889,42.650,2705.1,75.388,120.39,0.32632,...,53.658,28.797,60.717,21.947,39.144,41.955,47.645,47.346,41.507,18.461

In [16]:
# data_normal.loc[0]

In [18]:
data_normal.columns

Index(['xmeas_1', 'xmeas_2', 'xmeas_3', 'xmeas_4', 'xmeas_5', 'xmeas_6',
       'xmeas_7', 'xmeas_8', 'xmeas_9', 'xmeas_10', 'xmeas_11', 'xmeas_12',
       'xmeas_13', 'xmeas_14', 'xmeas_15', 'xmeas_16', 'xmeas_17', 'xmeas_18',
       'xmeas_19', 'xmeas_20', 'xmeas_21', 'xmeas_22', 'xmeas_23', 'xmeas_24',
       'xmeas_25', 'xmeas_26', 'xmeas_27', 'xmeas_28', 'xmeas_29', 'xmeas_30',
       'xmeas_31', 'xmeas_32', 'xmeas_33', 'xmeas_34', 'xmeas_35', 'xmeas_36',
       'xmeas_37', 'xmeas_38', 'xmeas_39', 'xmeas_40', 'xmeas_41', 'xmv_1',
       'xmv_2', 'xmv_3', 'xmv_4', 'xmv_5', 'xmv_6', 'xmv_7', 'xmv_8', 'xmv_9',
       'xmv_10', 'xmv_11'],
      dtype='object')

In [22]:
from scipy.stats import f_oneway

In [23]:
F, p = f_oneway(data_normal['xmeas_1'],data_normal['xmeas_2'])

In [24]:
print('F-Statistic : ',F)

F-Statistic :  6279265.522215907

In [25]:
print('p-value : ', p)

p-value :  0.0

In [19]:
# just trying to get every features in the data
F, p = f_oneway(data_normal['xmeas_1'],data_normal['xmeas_2'],data_normal['xmeas_3'],data_normal['xmeas_4'],data_normal['xmeas_5'],data_normal['xmeas_6'],
                data_normal['xmeas_7'],data_normal['xmeas_8'],data_normal['xmeas_9'],data_normal['xmeas_10'],data_normal['xmeas_11'],data_normal['xmeas_12'],
                data_normal['xmeas_13'],data_normal['xmeas_14'],data_normal['xmeas_15'],data_normal['xmeas_16'],data_normal['xmeas_17'],data_normal['xmeas_18'],
                data_normal['xmeas_19'],data_normal['xmeas_20'],data_normal['xmeas_21'],data_normal['xmeas_22'],data_normal['xmeas_23'],data_normal['xmeas_24'],
                data_normal['xmeas_25'],data_normal['xmeas_26'],data_normal['xmeas_27'],data_normal['xmeas_28'],data_normal['xmeas_29'],data_normal['xmeas_30'],
                data_normal['xmeas_31'],data_normal['xmeas_32'],data_normal['xmeas_33'],data_normal['xmeas_34'],data_normal['xmeas_35'],data_normal['xmeas_36'],
                data_normal['xmeas_37'],data_normal['xmeas_38'],data_normal['xmeas_39'],data_normal['xmeas_40'],data_normal['xmeas_41'],data_normal['xmv_1'],
                data_normal['xmv_2'],data_normal['xmv_3'],data_normal['xmv_4'],data_normal['xmv_5'],data_normal['xmv_6'],data_normal['xmv_7'],
                data_normal['xmv_8'],data_normal['xmv_9'],data_normal['xmv_10'])
# F : F statistic
# p : p-value

In [20]:
print('F-Statistic : ',F)

F-Statistic :  9404737.16444876

In [21]:
print('p-value : ', p)

p-value :  0.0

Reference [here](https://www.geeksforgeeks.org/how-to-perform-a-one-way-anova-in-python/)